table{
    width: 100%;
}
.div1 {
    width: 100% auto;
    height: 60px;
    background: #2B95F3;
    margin-bottom: 30px
  }
  .dataPeaceSetting{
      margin-top: -53px;
      margin-left: 70px
  }