<div class="div1">
        <i class="fa fa-arrow-left fa-3x" style="margin-left: 20px;margin-top:5px" (click)="backToMain()">
        <h3 class="dataPeaceSetting">
        Data Peace</h3>
    </i>
</div>

<div class="div2">
        <h1 class="heading"><b>{{displayArrayData.first_name}}&nbsp;{{displayArrayData.last_name}}</b></h1>
        <div class="div3">
           <h4>
              <b>Company</b>
              <p class="aligntext">{{displayArrayData.company_name}}</p>
           </h4>
           <hr >
           <h4>
              <b>City</b>
              <p class="aligntext">{{displayArrayData.city}}</p>
           </h4>
           <hr>
           <h4>
              <b>State</b>
              <p class="aligntext">{{displayArrayData.state}}</p>
           </h4>
           <hr>
           <h4>
              <b>ZIP</b>
              <p class="aligntext">{{displayArrayData.zip}}</p>
           </h4>
           <hr>
           <h4>
              <b>Email</b>
              <p class="aligntext">{{displayArrayData.email}}</p>
           </h4>
           <hr>
           <h4>
              <b>Web</b>
              <p class="aligntext">{{displayArrayData.web}}</p>
           </h4>
           <hr>
           <h4>
              <b>Age</b>
              <p class="aligntext">{{displayArrayData.age}}</p>
           </h4>
           <hr>
        </div>
</div>